# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run/*
!run/groovyengine/
run/groovyengine/*
!run/groovyengine/**
runs
run-data

repo
/run/groovyengine/src/resources/.cache
/logs
