# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run/*
!run/groovyengine/
run/groovyengine/*
!run/groovyengine/**
runs
run-data

repo
/run/groovyengine/src/main/resources/.cache
/logs
/run/groovyengine/gradlew
/run/groovyengine/.gradle/
/run/groovyengine/gradle/
/run/groovyengine/gradlew.bat
/run/groovyengine/src/resources/.cache
/run/groovyengine/.idea
/run/groovyengine/build
/docs
