# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run/*
!run/GroovyEngine/
run/GroovyEngine/*
!run/GroovyEngine/**
runs
run-data

repo
/run/GroovyEngine/src/main/resources/.cache
/logs
/run/GroovyEngine/gradlew
/run/GroovyEngine/.gradle/
/run/GroovyEngine/gradle/
/run/GroovyEngine/gradlew.bat
/run/GroovyEngine/src/resources/.cache
/run/GroovyEngine/.idea
/run/GroovyEngine/build


/docs
!/docs/html/documentation.chm
/run/GroovyEngine/modules
/run/GroovyEngine/workspace/.gradle
/run/GroovyEngine/workspace/.idea
/run/GroovyEngine/workspace/.idea
/run/GroovyEngine/workspace/build/moddev
/run/GroovyEngine/workspace/build
/run/GroovyEngine/workspace/gradle
run/GroovyEngine/workspace/gradlew
run/GroovyEngine/workspace/gradlew.bat
/run/GroovyEngine/workspace/.idea
